.header {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 100px;
}
@media only screen and (max-width: 639px) {
  .header {
    padding: 30px 30px 0;
    justify-content: end;
    gap: 10px;
  }
}
.header__link {
  display: flex;
  padding: 5px 10px;
  border: 1px solid #555e61;
  border-radius: 8px;
  color: #ededed;
  text-decoration: none;
  font-size: 12px;
}
.header__link--active {
  pointer-events: none;
  border: 1px solid #eeeeee;
  color: #ededed;
}
