body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #00141e;
  font-family: LivesportFinderLatin, sans-serif;
}
.content {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
}
