body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #00141e;
}
.content {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
