.animation {
  display: grid;
  justify-items: center;
}
.animation--clickable {
  gap: 60px;
}
.animation__logo {
  width: 350px;
  visibility: hidden;
  margin-bottom: 15px;
}
.animation__logo--symbol {
  width: 125px;
  height: 125px;
}
@media only screen and (max-width: 639px) {
  .animation__logo--symbol {
    width: 100px;
    height: 100px;
  }
}
.animation__clickIcon {
  width: 30px;
  height: 30px;
  rotate: 180deg;
  color: #ffffff;
}
.animation__symbolLogoWrapper {
  display: grid;
  justify-items: center;
  gap: 30px;
}
@media only screen and (max-width: 639px) {
  .animation__symbolLogoWrapper {
    gap: 15px;
  }
}
.animation__symbolLogoWrapper:hover {
  cursor: pointer;
}
.animation__symbolLogoWrapper:hover .animation__clickIcon {
  opacity: 0.7;
}
