.codeLines {
  display: grid;
  gap: 10px;
  margin-top: 15px;
  padding: 10px;
}
.codeLines__row {
  display: grid;
  gap: 8px;
  padding: 8px;
  margin: 0;
  border: 1px solid #555e61;
  border-radius: 8px;
  white-space: break-spaces;
  hyphens: auto;
  line-height: 18px;
}
@media only screen and (max-width: 639px) {
  .codeLines__row {
    font-size: 12px;
  }
}
.codeLines__row--1,
.codeLines__row--2,
.codeLines__row--3 {
  visibility: hidden;
}
.keyword {
  color: #d2a8ff;
}
.className {
  color: #a5d6ff;
}
.value {
  color: #79c0ff;
}
.symbol {
  color: #ff7b72;
}
