@import "breakpoints";

body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #00141e;
  font-family: LivesportFinderLatin, sans-serif;
}

.content {
  display: grid;
  justify-content: center;
  align-items: start;
  height: 55vh;

  @media only screen and (max-width: @breakpoint-middle) {
    align-items: center;
    height: 72vh;
  }
}
